ul {
	list-style-type: none;
	background-color: rgb(73, 73, 73);
	margin-top: 0;

	font-size: 25px;
	font-family: monospace;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding-left: 10px;
	padding-top: 1px;
	transition: 0.4s all ease-in-out;

	li {
		padding-right: 10px;
		height: 100%;

		&[data-label="name"], &[data-label="tab-games"] {
			a {
				padding: 5px;
				&:hover {
					background-color: rgb(92, 92, 92);
					border-radius: 5px;
				}
			}
		}
		a {
			color: white;
			text-decoration: none;
		}

		&[data-label="deagle"] {
			margin-left: auto;
			img {
				width: 64px;
			}
		}

		&[data-label="tab-games"] {
			margin-left: 30px;
		}
	}
}
