.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.4s;
	border-radius: 7px;
	background-color: #32383eb3;
	
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		transform: scale(1.1);
	}
	img {
		width: 350px;
		height: 280px;
		border-radius: 7px 7px 0px 0px;
	}
	.container {
		h4 {
			padding: 0px 16px;
			background-color: #32383eb3;
		}
		p {
			margin: 0;
			margin-top: 20px;
		}
	}

}
